<div class="layout-footer footer J-FrameFoot" style="position: fixed;z-index: 99">
    <div class="pull-right">
        <strong>任务管理系统--- <a href="/home/History" target="_blank"></a></strong>
    </div>
    <div>
    </div>
</div>