<nav class="navbar navbar-static-top J-FrameHead" role="navigation">
    <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="/Task/Edit">
                <i class="fa fa-plus"></i>新建任务
            </a>
        </li>
        <li>
            <a href="/Echarts/EmployeeGrowth">
                <i class="fa fa-line-chart"></i>组内统计
            </a>
        </li>
        <li>
            <a href="/home/FlowChart" target="_blank">
                <i class="fa fa-angle-double-right"></i>流程引导
            </a>
        </li>
        <li>
            <a href="/home/IpStatistics">
                <i class="fa fa-line-chart"></i>IP统计
            </a>
        </li>
        <li>
            <a href="/exit">
                <i class="fa fa-sign-out"></i>退出
            </a>
        </li>
    </ul>
</nav>
