<nav class="navbar-default navbar-static-side J-FrameSideNav" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="logo-element">
                    <img alt="" class="img-circle" src="">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="text-muted text-xs block" style="font-size:12px;margin-top: 10px;">
                            <%- UserName%>
                        </span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/home/home?UserName=<%- UserName%>">首页</a>
            </li>
            <li>
                <a href="javascript:;">任务管理</a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Task/List?UserName=<%- UserName%>">任务列表</a></li>
                    <li><a href="/home/Echart">人力视图</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">发布管理</a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/detail">线上BUG列表</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">数据统计</a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/home/TeamChart">组内对比</a></li>
                    <li><a href="/excel/excel">导出数据</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">关于蓝海</a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/home/FlowChart" target="_blank">流程引导图</a></li>
                    <li><a href="/home/History" target="_blank">版本推进</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<style>
    .navbar-static-side{
        width: 90px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 9999 !important;
    }
</style>