<!--title-->
<% block('title').append('历史推进') %>

<div class="wrapper">
    <div class="row  border-bottom white-bg page-heading m-b-lg">
        <div class="col-lg-10">
            <h2>当前版本 - V1.10</h2>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <!-- red,navy,yellow,lazur,blue -->
    <!-- briefcase file-text coffee  user-md ship puzzle-piece diamond binoculars bell-o bus rocket car -->
    <div class="ibox float-e-margins">
        <div class="ibox-content" id="ibox-content">
            <div id="vertical-timeline" class="vertical-container center-orientation dark-timeline">

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon red-bg">
                        <i class="fa fa-car"></i>
                    </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-binoculars"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.09</h2>
                        <ul>
                            <li>任务列表搜索优化</li>
                            <li>其他优化</li>
                        </ul>
                        <span class="vertical-date">2016-05-31
                            <br>
                            <small>周二</small>
                        </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon lazur-bg">
                        <i class="fa fa-diamond"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.08</h2>
                        <ul>
                            <li>任务列表搜索逻辑问题，改回原先的逻辑</li>
                            <li>列表查询、重置、导出按钮组件化</li>
                        </ul>
                        <span class="vertical-date">2016-05-25
                            <br>
                            <small>周三</small>
                        </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon yellow-bg">
                        <i class="fa fa-puzzle-piece"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.07</h2>
                        <ul>
                            <li>人力视图前端体验优化</li>
                            <li>任务列表查询优化（从4s优化到100+ms）</li>
                            <li>新增_StaticPlugJS中的JS版本号功能，避免缓存问题</li>
                            <li>其他优化</li>
                        </ul>
                        <span class="vertical-date">2016-05-24
                            <br>
                            <small>周二</small>
                        </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon red-bg">
                        <i class="fa fa-ship"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.06</h2>
                        <ul>
                            <li>其他优化</li>
                        </ul>
                        <span class="vertical-date">2016-05-17
                            <br>
                            <small>周二</small>
                        </span>
                    </div>
                </div>
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.05</h2>
                        <ul>
                            <li>任务编辑新增脑图</li>
                            <li>任务列表搜索问题</li>
                            <li>任务删除问题修复</li>
                            <li>新增字段流程逻辑优化</li>
                            <li>其他优化</li>
                        </ul>
                        <span class="vertical-date">2016-05-16
                            <br>
                            <small>周一</small>
                        </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon yellow-bg">
                        <i class="fa fa-user-md"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.04</h2>
                        <ul>
                            <li>修复子任务保存接口</li>
                            <li>任务列表按钮逻辑优化</li>
                            <li>人力视图优化</li>
                            <li>其他优化</li>
                        </ul>
                        <span class="vertical-date">2016-05-11
                            <br>
                            <small>周三</small></span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon lazur-bg">
                        <i class="fa fa-coffee"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.03</h2>
                        <ul>
                            <li>任务新增字段</li>
                            <li>任务流程按钮控制</li>
                            <li>任务详情页快速入口</li>
                            <li>首页快速入口</li>
                            <li>其他优化</li>
                        </ul>
                        <span class="vertical-date">2016-05-10
                            <br>
                            <small>周二</small></span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-file-text"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.02</h2>
                        <ul>
                            <li>统计改为任务统计（所有任务，需发布任务，无需发布任务）</li>
                            <li>任务、发布导出功能</li>
                            <li>任务列表搜索优化</li>
                            <li>其他优化</li>
                        </ul>
                        <span class="vertical-date">2016-05-06
                            <br>
                            <small>周五</small>
                        </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>V1.01</h2>
                        <ul>
                            <li>人力视图</li>
                            <li>任务日志</li>
                            <li>其他优化</li>
                        </ul>
                        <span class="vertical-date">2016-05-03
                            <br>
                            <small>周二</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>