<!--插件-->
<% block('plug').append('list') %>


<div class="wrapper" id="myTask" >

    <div class="col-md-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="tabs-container">
                    <div class="tabs-top">
                        <div class="ulbox">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" class="J-tab1" href="#tab-1">分配的任务</a></li>
                                <li class=""><a data-toggle="tab" class="J-tab2"  href="#tab-2" v-on:click="">进行的任务</a></li>
                                <li>
                                    <a href="#tab-3" data-toggle="tab" class="J-tab3" v-on:click="">关于你的BUG</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active J-Pane J-ProgressBarParent">
                            <div class="panel-body J-ProgressBarShowEle">
                                <div >
                                    <hr />
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TSMMissionId')" title="按照编号排序">编号 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                    
                                                    <th nowrap>主任务名</th>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TMRank')" title="按照优先级排序">优先级 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TSMSite')" title="按照站点排序"> 涉及小组 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TSMFlag')" title="按照状态排序">状态 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr v-for="item in listdata.tab1.items">
                                                        <template v-if='item.TMIsValid==1'>
                                                            <td nowrap style="width:50px;">{{item.TMId}}</td>
                                                            
                                                            <td nowrap class="title-txt">
                                                                <a href="/Task/Edit?id={{item.TMId}}" target="_blank" title="{{item.TMTitle}}">{{item.TMTitle}}</a>
                                                            </td>
                                                            <td nowrap>
                                                                <span class="label label_{{item.TMRank}}">{{item.TMRank}}</span>
                                                            </td>
                                                            <td>{{item.TMTeamStr}}</td>
                                                            <td nowrap>
                                                                {{item.TMIsFinish}}
                                                            </td>
                                                        </template>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-5 col-sm-12">总计{{ listdata.tab1.counts || 0 }}条，每页显示{{ listdata.tab1.pageSize || 10 }}条</div>
                                        <div class="col-md-7 col-sm-12 text-right J-Pagination" id="Pagination" v-show="listdata.tab1.counts > listdata.tab1.pageSize"></div>
                                    </div>
                                </div>
                                <h1 class="text-center" style="height: 400px; line-height:400px;" v-show="!listdata.tab1.counts">暂无已分配任务哦！<h1>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane  J-Pane J-ProgressBarParent">
                            <div class="panel-body J-ProgressBarShowEle">
                                <div >
                                    <hr />
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TSMMissionId')" title="按照编号排序">编号 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                    
                                                    <th nowrap>主任务名</th>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TMRank')" title="按照优先级排序">优先级 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TSMFlag')" title="按照状态排序">状态 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr v-for="item2 in listdata.tab2">
                                                        <template v-if='item2.TMIsValid==1'>
                                                            <td nowrap style="width:50px;">{{item2.TMId}}</td>
                                                            
                                                            <td nowrap class="title-txt">
                                                                <a href="/Task/detail?id={{item2.TMId}}" target="_blank" title="{{item2.TMTitle}}">{{item2.TMTitle}}</a>
                                                            </td>
                                                            <td nowrap>
                                                                <span class="label label_{{item2.TMRank}}">{{item2.TMRank}}</span>
                                                            </td>
                                                            <td nowrap>
                                                                {{item2.TMIsFinish}}
                                                            </td>
                                                        </template>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-5 col-sm-12">总计{{ listdata.tab2.length }}条，每页显示{{ listdata.tab2.length }}条</div>
                                    </div>
                                </div>
                                <h1 class="text-center" style="height: 400px; line-height:400px;" v-show="listdata.tab2.length == 0">暂无已分配任务哦！<h1>
                            </div>
                        </div>
                         <div id="tab-3" class="tab-pane J-Pane J-ProgressBarParent">
                            <div class="panel-body J-ProgressBarShowEle">
                                <div >
                                    <hr />
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TSMMissionId')" title="按照编号排序">编号 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                    
                                                    <th nowrap>主任务名</th>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TMRank')" title="按照优先级排序">Bug等级<i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                    <th nowrap>
                                                        <a href="javascript:;" v-on:click="getOrderData(1, 'TSMFlag')" title="按照状态排序">状态 <i class="fa fa-arrows-v"></i></a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr v-for="item3 in listdata.tab3">
                                                        <template v-if='item3.BugIsValid==1'>
                                                            <td nowrap style="width:50px;">{{item3.Bugid}}</td>
                                                            
                                                            <td nowrap class="title-txt">
                                                                <a href="/Task/bug?id={{item3.Bugid}}" target="_blank" title="{{item3.BugName}}">{{item3.BugName}}</a>
                                                            </td>
                                                            <td nowrap>
                                                                <span class="label label_{{item3.BugType}}">{{item3.BugType}}</span>
                                                            </td>
                                                            <td nowrap>
                                                                {{item3.BugFinish == 1 ? '已完成' : (item3.BugFinish ==2 ? '进行中' : '已完成')}}
                                                            </td>
                                                        </template>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-5 col-sm-12">总计{{listdata.tab3.length}}条，每页显示{{ listdata.tab3.length }}条</div>
                                    </div>
                                </div>
                                <h1 class="text-center" style="height: 400px; line-height:400px;" v-show="listdata.tab3.length ==0">暂无已分配任务哦！<h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="well">
        <pre>{{ $data | json }}</pre>
    </div>
</div>

<!--页面引用脚本-->
<% block('PageJS').append('\
    <script src="/js/home.js"></script>\
') %>

